{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load humanize %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Pet Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Pets</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                  {% for pet in pets %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="{% url 'pet_detail' pet.id %}" class="car-img">
                                    <div class="tag">For Sale</div>
                                    <div class="price-box">
                                        <span>$ {{pet.price | intcomma }}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{pet.pet_photo.url}}" alt="car"  style="min-height: 262px; max-height: 262px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="{{pet.pet_photo.url}}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{pet.pet_photo.url}}">
                                                </a>
                                                {% if pet.pet_photo_1 %}
                                                <a href="{{pet.pet_photo_1.url}}" class="hidden" >
                                                    <img class="hidden" src="{{pet.pet_photo_1.url}}">
                                                </a>
                                                {% endif %}
                                                {% if pet.pet_photo_2 %}
                                                <a href="{{pet.pet_photo_2.url}}" class="hidden">
                                                    <img class="hidden" src="{{pet.pet_photo_2.url}}">
                                                </a>
                                                {% endif %}
                                                {% if pet.pet_photo_3 %}
                                                <a href="{{pet.pet_photo_3.url}}" class="hidden">
                                                    <img class="hidden" src="{{pet.pet_photo_3.url}}">
                                                </a>
                                                {% endif %}
                                                {% if pet.pet_photo_4 %}
                                                <a href="{{pet.pet_photo_4.url}}" class="hidden" >
                                                    <img class="hidden" src="{{pet.pet_photo_4.url}}">
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'pet_detail' pet.id %}">{{pet.pet_title}}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'pet_detail' pet.id %}">
                                        <i class="flaticon-pin"></i>{{pet.state}}, {{pet.city}}
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{pet.pet_breed}}</li>
                                    <li>{{pet.pet_type}}</li>
                                    <li>{{pet.gender}}</li>
                                    <li>{{pet.color}}</li>
                                    <li>{{pet.age}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            {% endfor %}

                </div>

                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                      {% if pets.has_other_pages %}
                        <ul class="pagination">
                          {% if pets.has_previous %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{pets.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
                              </li>
                          {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                          {% endif %}

                          {% for i in pets.paginator.page_range %}
                            {% if pets.number == i %}
                              <li class="page-item"><a class="page-link active" href="#">{{i}}</a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                          {% endfor %}

                          {% if pets.has_next %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{pets.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                              </li>
                          {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                          {% endif %}
                        </ul>
                      {% endif %}
                    </nav>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search your desire pet</h3>
                        <form action="{% url 'search' %}" method="">
                            <div class="form-group">
                                <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="pet_type">
                                    <option selected="true" disabled="disabled">Dog/Cat</option>
                                    {% for pet_type in pet_type_search %}
                                      <option value="{{pet_type}}">{{pet_type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="age">
                                    <option selected="true" disabled="disabled">Age</option>
                                    {% for age in age_search %}
                                      <option value="{{age}}">{{age}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="state">
                                    <option selected="true" disabled="disabled">Location</option>
                                    {% for state in state_search %}
                                      <option value="{{state}}">{{state}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="color">
                                    <option selected="true" disabled="disabled">Color</option>
                                    {% for color in color_search %}
                                      <option value="{{color}}">{{color}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="gender">
                                    <option selected="true" disabled="disabled">Gender</option>
                                    {% for gender in gender_search %}
                                      <option value="{{gender}}">{{gender}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                            <label>Price</label>
                                            <div data-min="0" data-max="20000"  data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                            <div class="clearfix"></div>
                                        </div>
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Follow us</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}
